frontend/.vscode/
duckdb.db*
/store/core.db*
.env
data/
.DS_Store
suaobra-app
scripts/submit_deploy.sh
store/dev_data_timestamp
store/core_data_timestamp
*.csv.gz
scripts/backfill.py
dump.sql
store/collections.json
cmd/
cno/
core.db
core.db.gz
LICENSE
process_cno_data.py
sling
sling_darwin_arm64.tar.gz
sling_linux_amd64.tar.gz
core_new.db
core_new.db-shm
core_new.db-wal
node-scraper-rrt/node_modules/