---
import Layout from '../layouts/Layout.astro';
---
<Layout slug="info-obras" mainSlotStyle='background: #ffffff'>
  <div class="flex flex-wrap justify-content-center w-full text-3xl border-circle">Em Construção</div>
</Layout>